server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:ead_authuser
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: 'create-drop'
      jdbc:
        lob.non-contextual-creation: true
    properties:
      hibernate:
        show_sql: true
  jackson:
    mapper:
      DEFAULT_VIEW_INCLUSION: true
    deserialization:
      fail-on-unknown-properties: false
viacep: 'viacep.com.br/ws'

logging:
  level:
    com.ead: TRACE
    root: INFO
    org.springframework.web: INFO
    org.hibernate: INFO


